body {
    font-size: 18px;
}

body.reveal-sidebar {
    #page-top-bar {
        .transform(translate(50%, 0));
    }

    .main-wrapper {
        .transform(translate(50%, 0));
    }
}

#nav-main {
    margin: 0 -2.333333333em;

    .nav-item {
        > a {
            padding-left: 2.333333333em;
            padding-right: 2.333333333em;
        }
    }
}

.site-header {
    width: 50%;

    .bg-image {
        display: block;
    }
}

.post {
    .post-header {
        text-align: left;
    }

    .post-intro {
        margin-right: 3em;
    }
}

pre {
    //margin-right: 2em;
}

#blog_preview {
    > footer {
    }
}
