body {
    font-size: 21px;
}

.site-header, #nav-main {
    font-size: 18px;
}

.main-wrapper {
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
}

.button-bar {
    .button-bar-horizontal;
}

#blog_preview > footer {
    margin-left: -2em;
    margin-right: -2em;
}

.blog-post-view {
    .related-articles {
        .post-list {
            overflow: hidden;
            margin-left: -2em;
            font-size: 0.8em;

            .post-preview {
                .box-sizing(border-box);
                padding-left: 2em;
                float: left;
                width: 50%;
            }
        }
    }
}
