
\@-webkit-viewport { 
width : device-width; }

\@-moz-viewport { 
width : device-width; }

\@-ms-viewport { 
width : device-width; }

\@-o-viewport { 
width : device-width; }

\@viewport { 
width : device-width; }

html {
-webkit-overflow-scrolling : touch;
-webkit-text-size-adjust : 100%;
-ms-text-size-adjust : 100%; }

body {
    padding: 0;
}

hr {
    border: none;
    border-top: 2px solid @color-base;
}

.row {
    .clearfix;
}

.page-wrapper {
    position: relative;
}

.site-header,
.main-content,
.site-footer {
    padding-left: 2em;
    padding-right: 2em;
}

.site-header {
    .clearfix;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
    color: white;
    position: relative;
    text-shadow: 0 1px 1px fade(black, 50%);
    margin: 0 0 2em;
    background-color: #555d55;

    .header-wrapper {
    }

    .buttons {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .bg-image {
        background: no-repeat center bottom;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        .transform(translate3d(0, 0, 0));

        &.loaded {
            .transition(0.6s 0.1s);
            opacity: 0.7;
        }
    }

    .avatar {
        .box-sizing(border-box);
        .round_all(1000px);
        overflow: hidden;
        display: block;
        position: relative;
        margin: 10px auto 30px;
        width: 100px;
        height: 100px;
        background: url(/images/me_new_quadrat.jpg) center center no-repeat;
        background-size: 105px 105px;
        border: 2px solid fade(white, 10%);
        .drop-shadow;
    }

    .tagline {
        margin: 20px 0 30px;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }

    a { color: white; }

    .about-me {
        strong {
            font-weight: bold;
        }
    }
}

.main-content {
}

.site-footer {
    margin: 40px 0;

    * {
        font-size: 16px;
    }

    .copyright {
        margin: 0 0 5px;
        color: @color-text-faded;
    }

    .footer-nav {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 0.5em 0 0;
                margin: -0.5em 0 0;
            }
        }

        .nav-item {
            margin: 0 0 5px;
        }
    }
}

.info-box {
    .font-headline;
    background: @color-base;
    color: white;
    padding: 10px;
}

.post-archive {
    margin: 0 0 1em;
    list-style: none;
    padding: 0;

    .post {
        .post-date {
            color: @color-text-faded;
            font-size: 0.85em;
        }

        .post-title {
            font-size: 1em;
        }
    }
}
