
@import "http://fonts.googleapis.com/css?family=Snippet";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

.afs-liberation-sans { font-family: "Liberation Sans", "Arial", "Helvetica", "Lucida Grande", "Verdana", "Gill Sans", sans-serif; ;}

.afs-gentium-book-basic { font-family: "Gentium Book Basic", "Georgia", "Palatino", "Times New Roman", "Baskerville", "Hoefler Text", serif; font-size: 116.30%;}

.afs-gentium-book-basic { font-family: "Gentium Book Basic", "Georgia", "Palatino", "Times New Roman", "Baskerville", "Hoefler Text", serif; font-size: 116.30%;}

.afs-mono { font-family: "Liberation Mono", Menlo, Courier New, Courier, Mono, monospace; font-size: 100.00%;}

@font-face {
    font-family: Liberation Sans;
    src: url('/fonts/Liberation-Sans/LiberationSans-Italic-webfont.ttf');
    src: local('☺'), url('/fonts/Liberation-Sans/LiberationSans-Italic-webfont.woff') format('woff'), url('/fonts/Liberation-Sans/LiberationSans-Italic-webfont.ttf') format('truetype'), url('/fonts/Liberation-Sans/LiberationSans-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: Liberation Sans;
    src: url('/fonts/Liberation-Sans/LiberationSans-Regular-webfont.ttf');
    src: local('☺'), url('/fonts/Liberation-Sans/LiberationSans-Regular-webfont.woff') format('woff'), url('/fonts/Liberation-Sans/LiberationSans-Regular-webfont.ttf') format('truetype'), url('/fonts/Liberation-Sans/LiberationSans-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: Liberation Sans;
    src: url('/fonts/Liberation-Sans/LiberationSans-Bold-webfont.ttf');
    src: local('☺'), url('/fonts/Liberation-Sans/LiberationSans-Bold-webfont.woff') format('woff'), url('/fonts/Liberation-Sans/LiberationSans-Bold-webfont.ttf') format('truetype'), url('/fonts/Liberation-Sans/LiberationSans-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: Liberation Sans;
    src: url('/fonts/Liberation-Sans/LiberationSans-BoldItalic-webfont.ttf');
    src: local('☺'), url('/fonts/Liberation-Sans/LiberationSans-BoldItalic-webfont.woff') format('woff'), url('/fonts/Liberation-Sans/LiberationSans-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/Liberation-Sans/LiberationSans-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 700;
    font-style: italic;
}



@font-face {
    font-family: Gentium Book Basic;
    src: url('/fonts/Gentium-Basic/GenBkBasI-webfont.ttf');
    src: local('☺'), url('/fonts/Gentium-Basic/GenBkBasI-webfont.woff') format('woff'), url('/fonts/Gentium-Basic/GenBkBasI-webfont.ttf') format('truetype'), url('/fonts/Gentium-Basic/GenBkBasI-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: Gentium Book Basic;
    src: url('/fonts/Gentium-Basic/GenBkBasR-webfont.ttf');
    src: local('☺'), url('/fonts/Gentium-Basic/GenBkBasR-webfont.woff') format('woff'), url('/fonts/Gentium-Basic/GenBkBasR-webfont.ttf') format('truetype'), url('/fonts/Gentium-Basic/GenBkBasR-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: Gentium Book Basic;
    src: url('/fonts/Gentium-Basic/GenBkBasBI-webfont.ttf');
    src: local('☺'), url('/fonts/Gentium-Basic/GenBkBasBI-webfont.woff') format('woff'), url('/fonts/Gentium-Basic/GenBkBasBI-webfont.ttf') format('truetype'), url('/fonts/Gentium-Basic/GenBkBasBI-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: Gentium Book Basic;
    src: url('/fonts/Gentium-Basic/GenBkBasB-webfont.ttf');
    src: local('☺'), url('/fonts/Gentium-Basic/GenBkBasB-webfont.woff') format('woff'), url('/fonts/Gentium-Basic/GenBkBasB-webfont.ttf') format('truetype'), url('/fonts/Gentium-Basic/GenBkBasB-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: Gentium Book Basic;
    src: url('/fonts/Gentium-Basic/GenBkBasI-webfont.ttf');
    src: local('☺'), url('/fonts/Gentium-Basic/GenBkBasI-webfont.woff') format('woff'), url('/fonts/Gentium-Basic/GenBkBasI-webfont.ttf') format('truetype'), url('/fonts/Gentium-Basic/GenBkBasI-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: Gentium Book Basic;
    src: url('/fonts/Gentium-Basic/GenBkBasR-webfont.ttf');
    src: local('☺'), url('/fonts/Gentium-Basic/GenBkBasR-webfont.woff') format('woff'), url('/fonts/Gentium-Basic/GenBkBasR-webfont.ttf') format('truetype'), url('/fonts/Gentium-Basic/GenBkBasR-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: Gentium Book Basic;
    src: url('/fonts/Gentium-Basic/GenBkBasBI-webfont.ttf');
    src: local('☺'), url('/fonts/Gentium-Basic/GenBkBasBI-webfont.woff') format('woff'), url('/fonts/Gentium-Basic/GenBkBasBI-webfont.ttf') format('truetype'), url('/fonts/Gentium-Basic/GenBkBasBI-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: Gentium Book Basic;
    src: url('/fonts/Gentium-Basic/GenBkBasB-webfont.ttf');
    src: local('☺'), url('/fonts/Gentium-Basic/GenBkBasB-webfont.woff') format('woff'), url('/fonts/Gentium-Basic/GenBkBasB-webfont.ttf') format('truetype'), url('/fonts/Gentium-Basic/GenBkBasB-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: Liberation Mono;
    src: url('/fonts/Liberation-Mono/LiberationMono-Bold-webfont.ttf');
    src: local('☺'), url('/fonts/Liberation-Mono/LiberationMono-Bold-webfont.woff') format('woff'), url('/fonts/Liberation-Mono/LiberationMono-Bold-webfont.ttf') format('truetype'), url('/fonts/Liberation-Mono/LiberationMono-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: Liberation Mono;
    src: url('/fonts/Liberation-Mono/LiberationMono-BoldItalic-webfont.ttf');
    src: local('☺'), url('/fonts/Liberation-Mono/LiberationMono-BoldItalic-webfont.woff') format('woff'), url('/fonts/Liberation-Mono/LiberationMono-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/Liberation-Mono/LiberationMono-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: Liberation Mono;
    src: url('/fonts/Liberation-Mono/LiberationMono-Regular-webfont.ttf');
    src: local('☺'), url('/fonts/Liberation-Mono/LiberationMono-Regular-webfont.woff') format('woff'), url('/fonts/Liberation-Mono/LiberationMono-Regular-webfont.ttf') format('truetype'), url('/fonts/Liberation-Mono/LiberationMono-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: Liberation Mono;
    src: url('/fonts/Liberation-Mono/LiberationMono-Italic-webfont.ttf');
    src: local('☺'), url('/fonts/Liberation-Mono/LiberationMono-Italic-webfont.woff') format('woff'), url('/fonts/Liberation-Mono/LiberationMono-Italic-webfont.ttf') format('truetype'), url('/fonts/Liberation-Mono/LiberationMono-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: italic;
}
