/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* CSS Reset by Eric Meyer (http://meyerweb.com) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
a {
  color: #0baf39;
}
a:visited {
  color: #0baf39;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
.headline-decorated {
  font-family: "adelle", sans-serif;
  line-height: 1.2;
  border: none;
  border-top: 0.2em solid #0edf49;
  text-align: left;
  font-size: 1.5em;
  padding: 0.5em 0 0em;
  font-weight: 500;
  margin: 1em 0 1em;
}
body {
  font-family: "adelle-sans", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 300;
}
.page-title {
  margin: 2em 0;
}
.page-title > h1 {
  font-size: 3em;
  font-family: Adelle, Georgia, serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 0.2em;
}
a > .icon {
  vertical-align: middle;
}
a:link {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
a:link:hover {
  border-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
a:link:visited {
  border-color: rgba(0, 0, 0, 0.1);
}
.inverse-links a {
  color: white;
  border-color: rgba(255, 255, 255, 0.2);
}
.inverse-links a:hover {
  border-color: rgba(255, 255, 255, 0.4);
}
.inverse-links a:visited {
  border-color: rgba(255, 255, 255, 0.1);
}
small {
  font-size: 0.8em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 0.5em;
}
header > h1,
header > h2,
header > h3,
header > h4,
header > h5,
header > h6 {
  margin: 0 0 1em;
  line-height: 1.2;
}
h1 {
  font-size: 100%;
  font-weight: bold;
}
h2 {
  font-size: 100%;
  font-weight: bold;
}
h3 {
  font-size: 100%;
  font-weight: bold;
}
p {
  margin: 0 0 1em;
}
pre {
  margin: 0 0 1em 0;
}
pre > code {
  overflow-x: auto;
  font-size: 0.8em;
}
code {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0 0.2em;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.8);
  background: rgba(46, 242, 101, 0.1);
}
ul {
  list-style: disc;
  padding: 0 0 0 1.2em;
  margin: 0 0 1em;
}
ul li {
  padding: 0;
  padding-left: 0.8em;
  margin: 0 0 0.5em;
}
ol {
  list-style: decimal;
  padding: 0 0 0 1.2em;
  margin: 0 0 1em;
}
ol li {
  padding: 0;
  padding-left: 0.8em;
  margin: 0 0 0.5em;
}
sup {
  vertical-align: super;
  font-size: 0.6em;
}
sup a.footnote {
  border: none;
}
strong {
  font-weight: 500;
}
blockquote {
  border-left: 0.2em solid #ff96be;
  padding-left: 1.8em;
  margin: 0 0 1em;
}
blockquote p {
  color: #ff307f;
  font-size: 1.2em;
  font-family: Adelle, Georgia, serif;
}
table {
  margin: 0 0 1em;
  background: rgba(0, 0, 0, 0.02);
  border-collapse: collapse;
}
table th {
  border-bottom: 3px double rgba(0, 0, 0, 0.05);
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}
table td {
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
table td,
table th {
  padding: 0.2em 0.8em;
}
figure {
  margin: 0 -2em 1em;
  background: #efefef;
}
figure img {
  width: 100%;
}
figure figcaption {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 2.5em 1em;
}
\@-webkit-viewport {
  width: device-width;
}
\@-moz-viewport {
  width: device-width;
}
\@-ms-viewport {
  width: device-width;
}
\@-o-viewport {
  width: device-width;
}
\@viewport {
  width: device-width;
}
html {
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  padding: 0;
}
hr {
  border: none;
  border-top: 2px solid #2ef265;
}
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.page-wrapper {
  position: relative;
}
.main-wrapper {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 3em 2em 2em;
}
#page-top-bar {
  z-index: 100;
  background: transparent;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(11, 175, 57, 0.8)), color-stop(1, #0baf39));
  background: -ms-linear-gradient(bottom, rgba(11, 175, 57, 0.8), #0baf39);
  background: -moz-linear-gradient(center bottom, rgba(11, 175, 57, 0.8) 0%, #0baf39 100%);
  background: -o-linear-gradient(#0baf39, rgba(11, 175, 57, 0.8));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0baf39', endColorstr='rgba(11, 175, 57, 0.8)', GradientType=0);
  color: rgba(0, 0, 0, 0.4);
}
#page-top-bar * {
  color: rgba(0, 0, 0, 0.4);
}
#page-top-bar.headroom {
  transition: transform 200ms linear;
}
#page-top-bar.headroom--pinned {
  transform: translateY(0%);
}
#page-top-bar.headroom--unpinned {
  transform: translateY(-100%);
}
#reveal-sidebar {
  display: inline-block;
  font-size: 1em;
  line-height: 1;
  color: rgba(0, 0, 0, 0.4);
  padding: 1em;
}
#nav-main {
  font-size: 14px;
  margin: 0 -2em;
}
#nav-main ul {
  list-style: none;
  padding-left: 0;
}
#nav-main li {
  padding-left: 0;
  margin: 0;
}
#nav-main .nav-item .ss-icon {
  color: rgba(255, 255, 255, 0.4);
  vertical-align: middle;
  margin-right: 10px;
}
#nav-main .nav-item > a {
  font-size: 1em;
  display: block;
  padding: 0.5em 2em;
  border: none;
}
#nav-main .nav-item > a:hover {
  background: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
#nav-main .nav-item.active {
  background: rgba(0, 0, 0, 0.6);
}
.site-header {
  padding-left: 2em;
  padding-right: 2em;
}
body.reveal-sidebar {
  width: 100%;
  overflow: hidden;
}
body.reveal-sidebar .site-header {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
body.reveal-sidebar .main-wrapper {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translate(70%, 0);
  -moz-transform: translate(70%, 0);
  -o-transform: translate(70%, 0);
  -ms-transform: translate(70%, 0);
  transform: translate(70%, 0);
}
body.reveal-sidebar #page-top-bar {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translate(70%, 0);
  -moz-transform: translate(70%, 0);
  -o-transform: translate(70%, 0);
  -ms-transform: translate(70%, 0);
  transform: translate(70%, 0);
}
.site-header {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin: 0 0 2em;
  background-color: #444;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1em 2em;
  z-index: 100;
  width: 70%;
}
.site-header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.site-header .buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}
.site-header .buttons .button-follow {
  color: white;
  border-color: rgba(255, 255, 255, 0.3);
}
.site-header .buttons .button-follow:hover {
  border-color: rgba(255, 255, 255, 0.6);
}
.site-header .bg-image {
  display: none;
  background: no-repeat center bottom;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.site-header .bg-image.loaded {
  -webkit-transition: all 0.6s 0.1s ease-out;
  -moz-transition: all 0.6s 0.1s ease-out;
  -o-transition: all 0.6s 0.1s ease-out;
  transition: all 0.6s 0.1s ease-out;
  opacity: 0.7;
}
.site-header .avatar {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-top-right-radius: 1000px;
  -webkit-border-bottom-right-radius: 1000px;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  -moz-border-radius-topright: 1000px;
  -moz-border-radius-bottomright: 1000px;
  -moz-border-radius-bottomleft: 1000px;
  -moz-border-radius-topleft: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
  display: block;
  position: relative;
  margin: 10px auto 30px;
  width: 100px;
  height: 100px;
  background: url(/images/me_new_quadrat.jpg) center center no-repeat;
  background-size: 105px 105px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.site-header .tagline {
  margin: 20px 0 30px;
  font-weight: 400;
  text-align: left;
  font-size: 1em;
}
.site-header a {
  color: white;
  border-color: rgba(255, 255, 255, 0.2);
}
.site-header a:hover {
  border-color: rgba(255, 255, 255, 0.4);
}
.site-header a:visited {
  border-color: rgba(255, 255, 255, 0.1);
}
.site-header .about-me strong {
  font-weight: bold;
}
.site-footer {
  margin: 20px 0;
}
.site-footer * {
  font-size: 14px;
  font-weight: 400;
}
.site-footer .copyright {
  margin: 0 0 5px;
  color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.9);
}
.site-footer .footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 -20px;
}
.site-footer .footer-nav ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.site-footer .footer-nav ul li {
  padding: 0.5em 0 0;
  margin: -0.5em 0 0;
}
.site-footer .footer-nav .nav-item {
  float: left;
  margin: 0 0 0 20px;
}
.info-box {
  background: #16f153;
  color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  font-weight: 400;
}
.info-box a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
}
.info-box a:hover {
  color: white;
}
.post-archive {
  margin: 0 0 1em;
  list-style: none;
  padding: 0;
}
.post-archive .post {
  padding-left: 0;
}
.post-archive .post .post-date {
  color: rgba(0, 0, 0, 0.2);
  font-size: 0.85em;
}
.post-archive .post .post-title {
  font-size: 1em;
}
.button-bar {
  list-style: none;
  margin: 0;
  padding: 0;
}
.button-bar > li {
  padding: 0;
  margin: 0;
  margin: 0 0 0.5em;
}
.button-bar .button {
  display: block;
}
.button-bar-horizontal {
  display: table;
  width: 100%;
  margin: 0 0 0 -0.2em;
}
.button-bar-horizontal > li {
  display: table-cell;
  padding: 0 0 0 0.2em;
}
.button-bar-horizontal .button {
  margin: 0;
}
.button,
a.button,
input[type=submit],
button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #0cc741;
  display: inline-block;
  padding: 0.5em 1em;
  line-height: 1.2;
  font-weight: 400;
  border: 1px solid;
  background: transparent;
}
.button:hover,
a.button:hover,
input[type=submit]:hover,
button:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none !important;
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.button:active,
a.button:active,
input[type=submit]:active,
button:active {
  background: rgba(0, 0, 0, 0.2);
}
.button .icon,
a.button .icon,
input[type=submit] .icon,
button .icon {
  margin-right: 0.2em;
  position: relative;
  top: 0.1em;
  font-size: 1em;
}
.button.button-primary,
a.button.button-primary,
input[type=submit].button-primary,
button.button-primary {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
.button.button-primary:hover,
a.button.button-primary:hover,
input[type=submit].button-primary:hover,
button.button-primary:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.8);
}
.button.button-small,
a.button.button-small,
input[type=submit].button-small,
button.button-small {
  font-size: 0.8em;
}
form {
  font-size: 0.8em;
}
form label {
  display: block;
}
form input[type=text],
form input[type=password],
form textarea,
form input[type=email] {
  border: 1px solid #ddd;
  padding: 0.5em;
  font-size: 100%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
form input[type=submit],
form button {
  font-size: 100%;
  margin: 0;
}
#blog_preview {
  margin: 2em 0 0;
}
#blog_preview .pagination {
  margin: 0 -1em;
  border-top: 1px solid #ddd;
  padding: 0.5em 0em;
}
#blog_preview .pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#blog_preview .pagination .next {
  float: left;
}
#blog_preview .pagination .prev {
  float: right;
}
.post-list .post-preview {
  margin-bottom: 4em;
}
.post-list .post-preview .permalink-icon {
  color: rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: 0.3s all;
  margin-left: 0.5em;
}
.post-list .post-preview .permalink-icon:hover {
  transition: 0.3s all;
  color: #ff307f;
}
.post-list .post-preview .post-title {
  margin: 0 0 10px;
  position: relative;
}
.post-list .post-preview .post-title > .ss-icon {
  color: #ff307f;
  position: absolute;
  top: 0.2em;
  left: -1.5em;
}
.post-list .post-preview .post-date {
  margin: 0 0 10px 0;
  color: #aaa;
  font-size: 0.8em;
}
.post-list .post-preview .post-excerpt {
  line-height: 1.4;
  margin: 0;
}
.post-list .post-preview .post-excerpt > p {
  margin: 0 0 10px;
}
.post-list .post-preview .post-footer .continue {
  font-size: 0.8em;
}
.post-list-compact .post-preview {
  margin-bottom: 1em;
}
.post .post-content > p:first-child {
  font-size: 1.1em;
  font-weight: 400;
  margin: 0 0 1em 0;
}
.post .post-content > p:first-child em {
  letter-spacing: 0.1em;
  font-style: normal;
  font-weight: 300;
  font-size: 0.9em;
  background: rgba(0, 0, 0, 0.05);
}
.post .post-header {
  text-align: center;
}
.post .post-header > .post-title > a {
  color: #222;
  border: none;
}
.post .post-info {
  margin: 0;
  color: rgba(0, 0, 0, 0.2);
}
.post .post-content {
  margin-bottom: 2em;
}
.post .post-content ul {
  list-style: disc;
  margin: 0 0 1em;
}
.post .footnotes {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 1em;
  margin-top: 4em;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
}
.post .footnotes li:target {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background: rgba(255, 255, 0, 0.2);
}
.blog-post-view .related-articles {
  margin: 0 0 2em;
}
.hire-me #logo {
  width: 50%;
  margin: 0 auto 2em;
  text-align: center;
  font-size: 1em;
}
.hire-me #logo > img {
  width: 50%;
}
.hire-me #logo > b {
  display: block;
  text-align: center;
}
.hire-me .about-me {
  padding: 1em;
  background: rgba(0, 0, 0, 0.03);
}
.hire-me .about-me:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.hire-me .about-me .avatar {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  margin: 0 auto 1em;
  padding-top: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 9999px;
}
.hire-me .about-me .text {
  width: 100%;
  text-align: center;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 2em;
}
.hire-me .contact-card:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media only screen and (min-width: 480px) {
  .hire-me .contact-card .address {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    padding-left: 2em;
    float: right;
    font-size: 0.8em;
  }
  .hire-me .contact-card .map {
    width: 25%;
    float: left;
    margin: 0;
  }
}
.hire-me .contact-card .address {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hire-me .contact-card .map {
  margin: 0 0 1em;
}
.hire-me .contact-card .map > img {
  width: 100%;
  height: auto !important;
}
.hire-me .contact-box {
  margin: 2em 0;
  padding: 0.7em;
  text-align: center;
  border: 1px solid #dedede;
}
.hire-me .contact-box .inner-wrapper {
  border: 1px solid #dedede;
  padding: 1em;
}
.hire-me .client-logos ul {
  padding: 0;
  list-style: none;
}
.hire-me .client-logos ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.hire-me .client-logos ul li {
  padding: 0;
  width: 25%;
  float: left;
  padding: 0.5em;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hire-me .client-logos ul li > img {
  width: 100%;
}
#mc_embed_signup {
  border: 1px solid #ddd;
  margin: 0 0 2em;
  padding: 10px;
}
#mc-embedded-subscribe-form {
  border: 1px dashed #eee;
  padding: 2em;
}
#mc-embedded-subscribe-form .indicates-required {
  color: rgba(0, 0, 0, 0.2);
  margin: 0 0 1em;
  font-size: 0.8em;
}
#mc-embedded-subscribe-form .asterisk {
  color: red;
}
#mc-embedded-subscribe-form > h2 {
  margin-top: 0;
}
.mc-field-group {
  margin: 0 0 1em;
}
@media only screen and (min-width: 600px) {
  body {
    font-size: 18px;
  }
  body.reveal-sidebar #page-top-bar {
    -webkit-transform: translate(50%, 0);
    -moz-transform: translate(50%, 0);
    -o-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    transform: translate(50%, 0);
  }
  body.reveal-sidebar .main-wrapper {
    -webkit-transform: translate(50%, 0);
    -moz-transform: translate(50%, 0);
    -o-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    transform: translate(50%, 0);
  }
  #nav-main {
    margin: 0 -2.33333333em;
  }
  #nav-main .nav-item > a {
    padding-left: 2.333333333em;
    padding-right: 2.333333333em;
  }
  .site-header {
    width: 50%;
  }
  .site-header .bg-image {
    display: block;
  }
  .post .post-header {
    text-align: left;
  }
  .post .post-intro {
    margin-right: 3em;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 21px;
  }
  .site-header,
  #nav-main {
    font-size: 18px;
  }
  .main-wrapper {
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
  }
  figure {
    margin-left: -4em;
    margin-right: -4em;
  }
  figure figcaption {
    padding-left: 5em;
    padding-right: 5em;
  }
  .button-bar {
    display: table;
    width: 100%;
    margin: 0 0 0 -0.2em;
  }
  .button-bar > li {
    display: table-cell;
    padding: 0 0 0 0.2em;
  }
  .button-bar .button {
    margin: 0;
  }
  #blog_preview > footer .pagination {
    margin-left: -2em;
    margin-right: -2em;
  }
  .blog-post-view .related-articles .post-list {
    overflow: hidden;
    margin-left: -2em;
    font-size: 0.8em;
  }
  .blog-post-view .related-articles .post-list .post-preview {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2em;
    float: left;
    width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  #page-top-bar {
    display: none;
  }
  .main-wrapper {
    padding-top: 0;
    left: 30%;
    width: 70%;
  }
  .site-header {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 30%;
  }
  pre {
    padding-left: 2em;
  }
  .post .post-intro {
    margin-right: 6em;
  }
}
