@import "reset.css";
@import "fonts.css";
@import "/js/highlight_styles/solarized_dark.css";

@import "variables.less";
@import "mixins.less";

/* Base Styles */
body {
    font-family: @fontstack_serif;
    font-size: 0.625em;
    width: 96em;
    position: relative;
    margin: 0 auto;
}

#content {
    position: relative; 
    overflow: visible;
}

/* Site Footer */
footer[role=contentinfo] {
    padding: 3em 0; margin: 1em 0 0;
    clear: both;
    
    #html5_powered {
        position: absolute;
        margin-top: -10px;
        right: 0;
        
        img {
            height: 32px;
            width: auto;
        }
    }
}

a {
    text-decoration: none; 
    outline: none;
    color: @color_rusticotta; 
    border-bottom: 0.1em solid darken(@color_sands, 10);
}

a:hover {
    color: @color_darker_rusticotta; 
    border-bottom-color: @color_rusticotta;
}

a:active, a:focus {
    position: relative; 
    top: 1px;
}

a:visited {
}

h1, h2, h3, h4, h5, h6 {
    .font_sans_serif;
    font-weight: bold; line-height: 1.1em;
    margin: 1em 0 0.5em;
}

h2, h3 {
    text-align: center;
}

h1 {
    font-size: 3.8em;
    font-family: @fontstack_headline;
    font-weight: normal;
}

h2 { 
    font-family: @fontstack_headline;
    font-size: 2.4em;
    font-weight: normal;
}

h3 {
    .font_serif;
    font-style: italic;
    font-weight: normal;
    color: #000;
    font-size: 2.6em;
    margin: 0.25em 0 0.5em;
}

h3 a {
    color: #000;
}

p, li, blockquote {
    font-size: 1.6em; line-height: 1.6em;
}

.opening {
    position: relative;
}

em {
    font-style: italic;
}

p {
    margin: 0 0 0.8em;
}

ul, ol {
	padding: 0 0 0 4em;
	margin: 0 0 1.5em;
}

ol {
	list-style: decimal;
}

ul {
	list-style-type: disc;
}

li { 
    margin: 0 0 0.45em;
}

.caption {
    padding: 0em 10em;
    text-align: center;
    font-style: italic;
    font-size:  2em;
}

.share {
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        font-size: 1em;
        padding: 1.2em 0;
    }

    a {
        .button;
    }
}

/**
 * Site Branding
 */
header[role=banner] {
    position: relative; 
    overflow: hidden;
    border-bottom: 1px dashed #ddd;

    #greeting {
        color: #999;
        margin: 0.5em 0 0;
        font-size: 1.4em;
    }

    h1 {
        text-align: left;
        font-family: @fontstack_serif;
        font-weight: normal;
        font-size: 2.1em; 
        line-height: 1.4em;
        margin: 1em 0 1em;
		padding-right: 10em;
    }
    
    p {
        color: #222;
    }

    .ampersand {
        color: @color_rusticotta;
        font-size: 2em;
        position: relative;
        top: 0.15em;
    }

    nav[role=navigation] {
        ul {
            text-align: right;
            padding: 2em 0 0;
            margin: 0;

            &:hover li a {
                color: @color_rusticotta;
            }
        }

        li {
            margin: 0 0.5em;
            display: inline-block;

            a {
                color: #aaa;
            }
        }
    }
}

#tagline {
font-size: 3em; font-style: italic;}

#about {
    > section {
        h2 {
            font-size: 3em;
        }

        h3 {
            font-size: 2.1em;
        }

        > header > p {
            .caption;
        }
    }
}

/**
 * What I believe in
 */
#manifesto {
    border-bottom: 5px solid @color_rusticotta;
	
	> h2 {
		text-align: left;
	}
	
    ul {
		max-width: 70em;
	}
    
    li {
		font-size: 1.8em;
		padding: 0;
	}
    
    p {
		color: #000; margin: 0;
		line-height: 1.5em;
	}
}

/**
 * Short ellipsis of the blog's articles
 */
#articles_brief {
    overflow: hidden;
    border-bottom: 1px dashed #ddd;
    padding: 1em 0;

    article { 
        .column(4);
        font-size: 1em;

        header {
            text-align: center;

            h3 {
                font-size: 1.8em;
                text-transform: uppercase;
                font-style: normal;
                color: #888;
                line-height: 1.4em;
            }

            time {
                font-size: 1.6em;
                color: #888;
            }
        }

        p {
            font-size: 1.6em;
        }
    }

    footer {
        text-align: center;
        clear: both;
    }
}

/**
 * Contact Me and Social Links
 */
#contact {
    border-bottom: 1px dashed #ddd;

    ul {
    overflow: hidden;
	list-style: none;
	padding: 0;}
    
    li {
        .column(4);
        font-size: 1em;
        text-align: center;
    }
    
    a {
        font-variant: normal;
    }
}

/**
 * Some of my better projects
 */
#projects {
    border-bottom: 1px dashed #ddd;
    
    article {
		.column(4);
		display: inline; 
		font-size: 1em;
	}

    .caption {
    clear: both;
    padding: 0em 5em 0.5em;}
}

#archives {
    .column(8);
    float: none;
    margin: 0 auto;

    > header {
        > h1 {
            font-size: 3em;
            margin: 1em 0;
        }

        > p {
            font-size: 1.8em;
            max-width: 30em;
            margin: 1em 0;
        }
    }
}

.article-list {
    margin: 0 0 2em;

    > h1 {
        font-family: @fontstack_serif;
        margin: 0.5em 0;
        color: #333;
        letter-spacing: 0.2em;
        font-weight: normal;
        font-size: 1.6em;
        text-transform: uppercase;
        text-align: left;
    }

	> ul {
		list-style: none;
		padding: 0;
	}

    li {
        margin-left: 0;

        > time {
            margin-right: 0.5em;
            color: #666;
        }
    }
}

nav.back {
    margin: 2em 0 0;

    > a {
        .button;
        margin-left: -1em;

        &:before {
            content: "\21A2";
            margin-right: 0.1em;
        }
    }
}

a.back {
    .button;

    &:before {
        content: "\21A2";
        margin-right: 0.5em;
    }
}

.blog {
    > .content > footer {
        font-size: 1.6em;
    }

    article {
        position: relative;
        color: #333;

        .pulled-out {
        }

        > footer {
            margin-top: 2em;
            padding-top: 2em;
            border-top: 0.5em solid @color_sands;

            > .article-list {
                .column(4);
            }

            > nav.share {
                .column(5);
            }

            > .even-more {
                .column(3);
            }
        }

        > header {
            position: relative;
            padding: 0 1em;

            > nav {
                margin: 2em 0 0 -1.4em;
            }

            > div {
                display: block;
                padding: 0.5em 0;
                margin: 2em 0 0.5em;
                color: darken(@color_sands, 30);
                font-size: 1.8em;
            }

            .tags {
                padding: 0;
                list-style: none;
                display: inline;

                li {
                    font-size: 1em;
                    display: inline;
                    padding: 0.25em 0.75em;
                    margin: 0 0.1em;
                    background: @color_sands;
                    color: darken(@color_sands, 45);
                    .round_all(9999px);
                }
            }

            > h1 {
                position: relative;
                font-family: @fontstack_headline;
                font-weight: normal;
				font-size: 5em;
                margin: 0.25em 0 1em;
                max-width: 12em;

                a {
                    color: black;
                    border: none;

                    &:hover {
                        border: none;
                    }
                }
            }
        }

        .excerpt {
            margin-bottom: 3em;

            p {
                font: 2.4em @fontstack_headline;
                line-height: 1.3em;
            }
        }

        > section {
            .column(7);
            .right;
            .clear;
            padding-bottom: 5em;
        }

        > .article-info {
            .column(4);

            > .share {
                margin-left: -1.4em;
            }

            > .article-list {
                margin-top: 3em;
            }
        }

        h2 {
            color: @color_darker_rusticotta;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-family: @fontstack_serif;
            font-size: 1.8em;
            margin: 2em 0 1em;
        }

        h3 {
            color: #666;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-family: @fontstack_serif;
            font-size: 1.4em;
            font-style: normal;
            margin: 1.4em 0 0.6em;
        }

        blockquote {
            padding: 0.2em 0 0.3em 4em;
            color: #333;
            font-size: 1em;
            font-style: italic;

            p {
                font-size: 1.6em;
            }

            &.pullquote {
                .column(4);
                padding: 1em 1em 1em 0;
                margin-left: -2em;

                &.right {
                    text-align: right;
                    margin-right: -2em;
                    padding-left: 1em;
                    padding-right: 0;
                    float: right;
                }

                p {
                    margin: 0;
                    font: bold 2em @fontstack_sans;
                    font-style: italic;
                    line-height: 1.3em;
                    color: @color_rusticotta;
                    text-transform: uppercase;
                }

                > span {
                    display: block;
                    color: #888;
                    margin: 1em 0 0;
                    font-family: @fontstack_serif;
                    font-size: 1.6em;
                }
            }
        }

        .gist {
            line-height: 1.3em;
            font-size: 1.4em;
        }

        pre {
            margin: 0 0 1em -2em;
            border-left: 10px solid lighten(#002B36, 10);
            
            code {
                .font_monospace;
                font-size: 1.4em;
                overflow: auto;
                line-height: 1.4em;
            }
        }

        aside {
            .column(4);
            
            margin-left: -32em;
            background: white;

            p {
                color: #777;
                font-style: italic;
            }
        }

        figure {
            position: relative;
            overflow: hidden;
            width: 96em;
            padding: 0.5em 0;
            font-size: 1em;
            margin: 1em 0;
            margin-left: -42em;
            background: white;

            pre {
                float: left;
                width: 85em;
            }

            img {
                float: right;
                max-width: 70em;
            }

            figcaption {
                color: #777;
                font-style: italic;
                font-size: 1.5em;
                line-height: 1.6em;
                float: left;
                width: 15em;
                padding: 1em;

                em {
                    font-weight: bold;
                }
            }
        }

        p code {
            .round_all(2px);
            background: #f2f2f2;
            padding: 0.25em;
            font-size: 0.8em;
            font-family: @fontstack_monospace;
        }
    }
}
