// Colors
//
@color_rusticotta: darken(#E86B35, 10);
@color_darker_rusticotta: darken(@color_rusticotta, 15);
@color_sands: #f2ecdf;
@color_bright_lights: #FFF1CC;
@color_black: #0D0201;

// Fontstacks
//
@fontstack_serif:     "Gentium Book Basic", "Georgia", "Palatino", "Times New Roman", "Baskerville", "Hoefler Text", serif;
@fontstack_sans:      "Liberation Sans", "Arial", "Helvetica", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
@fontstack_monospace: "Monaco", "Consolas", monospace;
@fontstack_headline:  "Snippet", sans-serif;
