// Colors

// Base Colors
@color-base: #2ef265;
@color-complement1: #ff307f;
@color-complement2: #ff4430;

// Links
@color-link: darken(@color-base, 20%);
@color-link-visited: @color-link;
@color-link-hover: @color-link;

// Text
@color-text-faded: fade(black, 20%);
