#blog_preview {
    > footer {
    }
}

#page-top-bar {
    display: none;
}

.main-wrapper {
    padding-top: 0;
    left: 30%;
    width: 70%;
}

.site-header {
    .transform(translate(0,0));
    width: 30%;
}

pre {
    padding-left: 2em;
}

.headline-decorated {
}

.post {
    .post-intro {
        margin-right: 6em;
    }
}
