---
layout: default
title: Start
---
<section id="homepage">
    <section id="intro">
        <section id="manifesto">
            <h2>An das glaube ich:</h2>

            <ul>
                <li>
                    <h3>
                        Bei Design geht es darum das Wesentliche zu
                        <em>finden</em>.
                    </h3>
                    <p>Mir gefällt dieser Satz von <strong>Antoine de Saint
                    Exupere</strong> besonders gut:<br>
                    Perfektion ist nicht erreicht, wenn es nichts mehr
                    Hinzuzufügen gibt, <br>
                    sondern erst dann wenn es nichts
                    mehr gibt, das man wegnehmen kann.</p>
                </li>
                <li>
                    <h3>Software-Entwicklung <em>ist</em> Design.</h3>
                    <p>Man soll sich auch bei der Software-Entwicklung auf das Wesentlichste
                    konzentrieren. Wenn man versucht alle Probleme zu lösen, löst man
                    <em>keines richtig</em>.</p>
                </li>
                <li>
                    <h3>Ehrlichkeit ist <em>Alles</em>.</h3>
                    <p>In einer Welt der dubiosen Lockangebote, der Heilsversprechen
                    und der &bdquo;Eierlegendenwollmilchsäue&rdquo; kann man mit Ehrlichkeit
                    noch einen echten Unterschied machen.</p>
                </li>
            </ul>
        </section>

        <section id="facts">
            <div>
                <h2>Box of Fact&trade;</h2>
                <table>
                    <tr>
                        <td>Jahre auf der Welt:</td>
                        <td><strong>22</strong></td>
                    </tr>
                    <tr>
                        <td>Davon bis jetzt mit PHP verbra(u)cht:</td>
                        <td><strong>6</strong></td>
                    </tr>
                    <tr class="location">
                        <td>Headquarter:</td>
                        <td>
                            <strong>
                                <a href="http://g.co/maps/63m84">Gaflenz, AT</a>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>Lieblings-Comics:</td>
                        <td>
                            <strong>
                                <a href="http://xkcd.com" target="_blank">XKCD</a>,
                                <a href="http://dilbert.com" target="_blank">Dilbert</a>,
                                <a href="http://theoatmeal.com/" target="_blank">The Oatmeal</a>
                                &amp; <a href="http://geekandpoke.typepad.com/" target="_blank">Geek and Poke</a>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>Job-Zufriedenheit:</td>
                        <td><strong>99,9%</strong></td>
                    </tr>
                </table>
            </div>
        </section>
    </section>

    <hr>

    {% if site.posts != empty %}
    <section id="articles_brief">
        <header>
            <h2>Die neuesten Artikel</h2>
            <p>
                <strong>Christoph</strong> schreibt hier &mdash; in ziemlich
                unregelm&auml;&szlig;en Abst&auml;nden &mdash; &uuml;ber seine Meinungen
                und seine Steckenpferde wie Software Entwicklung, PHP und Web
                Design.
            </p>
            <a class="more" href="/writes">
                <i class="ss-icon ss-notebook"></i>
                Mehr Artikel
            </a>
        </header>

        {% for post in site.posts limit:3 %}
        {% unless post.draft %}
        <article>
            <header>
                <time datetime="{{ post.date }}">
                    <span class="month">{{ post.date | date: "%m" }}/<span class="year">{{ post.date | date: "%Y" }}</span>
                </time>
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            </header>
            <p>{{ post.excerpt | markdownify }}</p>

            <footer>
                <a href="{{ post.url }}" class="more">
                    <i class="ss-icon ss-navigateright"></i>
                    Artikel Lesen
                </a>

                <span>
                    Vorrausichtliche Lesezeit
                    <em>{{ post.content | number_of_words | divided_by: 200 }} Minuten
                        {{ post.content | number_of_words | modulo:200 | divided_by:60}} Sekunden</em>
                </span>
            </footer>
        </article>
        {% endunless %}
        {% endfor %}

        <footer>
        </footer>
    </section>
    {% endif %}
</section>
