---
layout: default
title: Home
---
<div id="homepage">
    {% if site.posts != empty %}
    <section id="blog_preview" itemscope itemtype="http://schema.org/Blog">
        <header class="page-title">
            <h1>Blog Posts</h1>
        </header>

        <div itemprop="blogPosts" class="post-list">
            {% for post in site.posts limit:6 %}
            <article itemscope itemtype="http://schema.org/BlogPosting" class="post-preview">
                <header class="post-header">
                    <meta itemprop="url" content="{{ post.url }}" />
                    <meta itemprop="datePublished" content="{{ post.date }}" />
                    <meta itemprop="headline" content="{{ post.title }}" />

                    <h2 class="post-title"><a href="{{ post.url }}" itemprop="name">{{ post.title }}</a></h2>

                    <div class="post-date">
                        Posted on
                        <time datetime="{{ post.date }}">
                            {{ post.date | date: "%d %b %Y" }}
                        </time>
                    </div>
                </header>

                <div class="post-excerpt" itemprop="description">
                {% if post.custom_excerpt %}
                    {{ post.custom_excerpt | markdownify }}
                {% else %}
                    {{ post.excerpt | markdownify }}
                {% endif %}
                </div>

                <footer class="post-footer">
                    <a class="continue" href="{{ post.url }}">
                        Continue reading »
                    </a>
                </footer>
            </article>
            {% endfor %}
        </div>

        <footer>
            <a href="/blog" class="show-all-posts">See all posts &rarr;</a>
        </footer>
    </section>
    {% endif %}
</div>
