---
layout: default
title: Home
---
<div id="homepage">
    {% if paginator.posts != empty %}
    <section id="blog_preview" itemscope itemtype="http://schema.org/Blog">
        <div itemprop="blogPosts" class="post-list">
            {% for post in paginator.posts %}
            <article itemscope itemtype="http://schema.org/BlogPosting" class="post-preview {% if post.short %} short {% endif %}">
                <header class="post-header">
                    <meta itemprop="url" content="{{ post.url }}" />
                    <meta itemprop="datePublished" content="{{ post.date }}" />
                    <meta itemprop="headline" content="{{ post.title }}" />

                    <h2 class="post-title">
                        {% if post.type == 'link' %}
                        <i class="post-type-icon ss-icon ss-link"></i>
                        {% endif %}
                        <a href="{% if post.type == 'link' %} {{post.href}} {% else %}
                            {{post.url}} {% endif %}" itemprop="name">{{ post.title }}</a>
                    </h2>

                    <div class="post-date">
                        Posted on
                        <time datetime="{{ post.date }}">
                            {{ post.date | date: "%d %b %Y" }}
                        </time>
                    </div>
                </header>

                <div class="post-excerpt" itemprop="description">
                {% if post.short %}
                    {{ post.content }}
                {% elsif post.custom_excerpt %}
                    {{ post.custom_excerpt | markdownify }}
                {% else %}
                    {{ post.excerpt | markdownify }}
                {% endif %}
                </div>

                <footer class="post-footer">
                    {% if post.short != true %}
                    <a class="continue" href="{{ post.url }}">
                        Continue reading »
                    </a>
                    {% endif %}
                </footer>
            </article>
            {% endfor %}
        </div>

        <footer>
            {% include email_signup.html %}

            <div class="pagination">
                {% if paginator.next_page_path %}
                <a class="next" href="{{ paginator.next_page_path }}">« Older Posts</a>
                {% endif %}

                {% if paginator.previous_page_path %}
                <a class="prev" href="{{ paginator.previous_page_path }}">Newer Posts »</a>
                {% endif %}
            </div>

            <!--<a href="/blog" class="show-all-posts">See all posts &rarr;</a>-->
        </footer>
    </section>
    {% endif %}
</div>
