---
layout: default
title: Favorite books
---
<header class="page-title">
    <h1>Favorite books</h1>
</header>

<ul class="book-list">
    {% for book in site.books %}
    <li class="book">
        <div class="book-cover">
            {% if book.link %}
            <a href="{{ book.link }}" title="{{ book.title }}"><img src="{{ book.cover }}" alt="{{ book.title }}"></a>
            {% else %}
            <img src="{{ book.cover }}" title="{{ book.title }}" alt="{{ book.title }}">
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
