---
layout: default
title: Archiv
---
<section id="archives">
    <section class="article-list">
        <header>
            <h1>Christoph schreibt.</h1>
            <p>
                <strong>Christoph</strong> schreibt hier &mdash; in ziemlich
                unregelm&auml;&szlig;en Abst&auml;nden &mdash; &uuml;ber seine Meinungen
                und seine Steckenpferde wie Software Entwicklung, PHP und Web
                Design.
            </p>
        </header>
        <ul>
            {% for post in site.posts %}
            <li>
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <time datetime="{{ post.date }}">{{ post.date | date: "%d.%m.%Y" }}</time>
            </li>
            {% endfor %}
        </ul>
        
        <footer>
            <p>
                <strong>Nicht genug?</strong>
                <a href="https://github.com/CHH">Schau auf mein Github Profil</a>
                oder
                <a href="http://twitter.com/yuri41">besuch mich auf Twitter</a>
            </p>
        </footer>
    </section>

    <section class="featured">
        <h1>Vorgestellter Artikel</h1>

        {% for featured in site.posts limit:1 %}
        <article>
            <h2><a href="{{ featured.url }}">{{ featured.title }}</a></h2>
            <p>{{ featured.excerpt | markdownify }}</p>
            <a href="{{ featured.url }}" class="more">
                <i class="icon-arrow-right"></i>
                Artikel Lesen
            </a>
        </article>
        {% endfor %}
    </section>
</section>

