<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
    <form action="http://f5-industries.us7.list-manage.com/subscribe/post?u=d87aafa86509e5206d575da4c&amp;id=e81c880932" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <h2>
            Subscribe now and get a free sample of
            my upcoming book "The Little PHP Socket Programming Handbook". Subscribers also
            get early access to the launch and a special discount!
            <a href="/php-socket-programming-handbook/">Learn more.</a>
        </h2>
        <p>We never share your data with anyone and hate Spam as much as you do.</p>
    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
    <div class="mc-field-group">
        <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
    </label>
        <input type="text" value="" name="FNAME" class="required"
        id="mce-FNAME" placeholder="John">
    </div>
    <div class="mc-field-group">
        <label for="mce-LNAME">Last Name </label>
        <input type="text" value="" name="LNAME" class="" id="mce-LNAME"
        placeholder="Doe">
    </div>
    <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
    </label>
        <input type="email" value="" placeholder="john.doe@example.com" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_d87aafa86509e5206d575da4c_e81c880932" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>

    </form>
</div>

<!--End mc_embed_signup-->
