.book-list {
    list-style: none;
    padding: 0;
    box-sizing: border-box;

    .book {
        padding: 0;

        .book-cover {
            max-width: 100%;
            margin: 0;
        }

        .book-title {

        }
    }
}

@media only screen and (min-width: 600px) {
    .book-list {
        margin: 0 -2em;
    }

    .book-list .book {
        width: 50%;
        float: left;
        margin: 0 2em;
    }
}

@media only screen and (min-width: 768px) {

}
