.hire-me {
    #logo {
        width: 50%;
        margin: 0 auto 2em;
        text-align: center;
        font-size: 1em;

        > img {
            width: 50%;
        }

        > b {
            display: block;
            text-align: center;
        }
    }

    .about-me {
        .clearfix;

        > header {
        }

        .avatar {
            .box-sizing(border-box);
            width: 20%;
            margin: 0 auto 1em;
            padding-top: 20%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            border-radius: 9999px;
        }

        .text {
            .box-sizing(border-box);
            width: 100%;
            text-align: center;
        }

        @media only screen and (min-width: 600px) {
            .avatar {
                float: left;
                width: 20%;
                margin-left: 2.5%;
                padding-top: 20%;
            }

            .text {
                width: 75%;
                text-align: left;
                float: right;
                font-size: 0.8em;
            }
        }
    }

    .contact-card {
        .clearfix;

        @media only screen and (min-width: 480px) {
            .address {
                .box-sizing(border-box);
                width: 75%;
                padding-left: 2em;
                font-size: 0.8em;
                float: right;
                font-size: 0.8em;
            }

            .map {
                width: 25%;
                float: left;
                margin: 0;
            }
        }

        .address {
            .box-sizing(border-box);
        }

        .map {
            margin: 0 0 1em;

            > img {
                width: 100%;
                height: auto !important;
            }
        }
    }

    #contact {
        background: @color-base;
        margin-top: 4em;
        margin-bottom: 4em;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .contact-box {
        margin: 2em 0;
        padding: 0.7em;
        text-align: center;
        border: 1px solid fade(black, 10%);
        color: fade(black, 80%);

        .button, a:link {
            color: fade(black, 80%);
        }

        .inner-wrapper {
            border: 1px dashed fade(black, 6%);
            padding: 1em;
        }
    }

    .client-logos {
        ul {
            padding: 0;
            list-style: none;
            .clearfix;

            li {
                margin-right: 2em;
                width: 25%;
                float: left;
                .box-sizing(border-box);

                > img {
                    width: 100%;
                }
            }
        }
    }
}
