<div class="book-promo-box box">
    <div class="book-cover" style="max-width: 8em; margin: 0 2em 1em 0; float: left;">
        <a href="/php-socket-programming-handbook/"><img src="/images/socket-book/Cover.png" alt=""></a>
    </div>

    <p>
        <em>Want a comprehensive guide to PHP socket programming, all in one
        ebook?</em>
    </p>

    <p>
        I'm writing an ebook, the “<a href="/php-socket-programming-handbook/">PHP
        Socket Programming Handbook</a>”.
        Subscribe now and get the entire first chapter for free, early access to the
        launch in October 2016, and an exclusive discount code for 10$ off.
        <a href="/php-socket-programming-handbook/">Learn more</a>
    </p>

    <div>
        <form validate action="https://f5-industries.us7.list-manage.com/subscribe/post?u=d87aafa86509e5206d575da4c&amp;id=e81c880932" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div class="form-row">
                <input type="text" value="" name="FNAME" required class="required" id="mce-FNAME" placeholder="Your First Name">
            </div>
            <div class="form-row">
                <input type="email" value="" name="EMAIL" required class="required email" id="mce-EMAIL" placeholder="Your Email">
            </div>
            <div class="form-row">
                <button type="submit" class="button button-primary">Get your free sample chapter</button>
            </div>
        </form>
    </div>
</div>
