<div class="book-promo-box">
    <div class="book-cover" style="max-width: 8em; margin-bottom: 1em; margin-right: 2em;">
    <a href="/php-socket-programming-handbook/"><img src="/images/socket-book/Cover.png" alt=""></a>
    </div>

    <p>
        <em>Want a more comprehensive guide to PHP socket programming, all in one
        ebook?</em>
    </p>

    <p>
        <a href="/php-socket-programming-handbook/" class="button">Get your free sample chapter</a>
    </p>

    <p>
        I'm writing an ebook, the "<a href="/php-socket-programming-handbook/">PHP
            Socket Programming Handbook</a>".
        Subscribe now and get the entire first chapter for free, early access to the
        launch in Fall 2014, and an exclusive discount code for 20% off.
        <a href="/php-socket-programming-handbook/">Learn more</a>
    </p>
</div>
