<div class="book-promo-box box clearfix">
    <div class="book-cover" style="max-width: 8em; margin: 0 2em 1em 0; float: left;">
        <a href="/php-socket-programming-handbook/"><img src="/images/socket-book/Cover.png" alt=""></a>
    </div>

    <p>
        <em>Want a comprehensive guide to PHP socket programming, all in one handy
        ebook?</em>
    </p>

    <p>
        Save a couple of hours, support this site, and get the <b>Socket Programming Handbook</b> now starting at just <b>29€</b> (that's probably way less than what you make per the hour — and this will save you plenty of hours!).
    </p>

    <p>
        <a href="/php-socket-programming-handbook/" class="button button-primary">Get the book now</a>
    </p>
</div>
