<div class="contact-bar">
    <ul>
        <li>
            <a href="mailto:hello@christophh.net">
                <strong class="ss-social-circle ss-mail"></strong>
                <i>hello@christophh.net</i>
            </a>
        </li>
        <li>
            <a href="http://twitter.com/hochchristoph" target="_blank">
                <strong class="ss-social-circle ss-twitter"></strong>
                <i>@hochchristoph</i>
            </a>
        </li>
        <li>
            <a href="https://github.com/CHH" target="_blank">
                <strong class="ss-social-circle ss-github"></strong>
                <i>CHH</i>
            </a>
        </li>
    </ul>
</div>
