// Blog
.post {
    .post-intro {
        line-height: 1.4;
        font-size: 24px;
        color: @color-text-faded;
        margin: 0px 6em 1em 0em;
        padding: 0 0 0;
        border-bottom: 3px double #ddd;
    }

    .post-header {
        margin: 40px 0;
        text-align: center;
    }

    .post-info {
        margin: 10px 0 40px;
        color: @color-text-faded;
        font-size: 18px;
    }

    .post-title {
        margin: 0;
        font-weight: 300;
        font-size: 42px;
    }

    .post-content {
        ul {
            list-style: disc;
            padding: 0 0 0 40px;
            margin: 0 0 1em;
        }
    }

    .post-footer {
        margin: 40px 0 0;

        .related-articles {
            > h1 {
            }

            ul {
                list-style: disc;
            }
        }

        .comments {
            margin: 2em 0 0;
        }
    }
}
