#homepage {
    > section {
        > header {
            > h1 {
            }
        }
    }
}

#manifesto {
    h2 {
        margin-bottom: 2em;
    }
    > ul {}

    line-height: 1.4;
}

#blog_preview {
    margin: 2em 0 0;

    .post-preview {
        margin-bottom: 2em;

        .post-header {}

        .post-title {
            margin: 0 0 10px;
        }

        .post-date {
            margin: 0 0 10px 0;
            color: #aaa;
            font-size: 0.8em;
        }

        .post-excerpt {
            line-height: 1.4;
            margin: 0;
            > p {
                margin: 0 0 10px;
            }
        }

        .post-footer {
            .continue {
                font-size: 0.8em;
            }
        }
    }

    .show-all-posts {
    }

    > footer {
        border: 3px double #ddd;
        border-left: none; border-right: none;
        text-align: center;
        margin: 0 2em;
        padding: 0.5em 1em;
    }
}
