#homepage {
    > section {
        > header {
            > h1 {
            }
        }
    }
}

#manifesto {
    > ul {}

    .font-headline;
    line-height: 1.4;
    color: #555;
    font-weight: 400;
}

#blog_preview {
    .post-preview {
        margin-bottom: 40px;

        .post-header {}

        .post-title {
            margin: 0 0 10px;
        }

        .post-date {
            margin: 0 0 10px 0;
            color: #aaa;
        }

        .post-excerpt {
            .font-headline;
            line-height: 1.4;
            margin: 0;
        }
    }

    .show-all-posts {
        font-size: 116%;
    }
}
