<footer role="contentinfo" class="row">
    <p class="copyright">
        &copy;2011 Christoph Hochstrasser
    </p>

    <p class="cc">
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
            <img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" />
        </a><br>
        Sofern nicht anders genannt stehen alle Inhalte unter einer
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Namensnennung 3.0 Unported Lizenz</a>.

        Sämtliche Quelltexte die hier veröffentlicht werden stehen unter der MIT Lizenz.
    </p>

    {% include widgets/contact_bar.html %}
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js"></script>
<script src="/js/index.js"></script>
