
<!--<script src="http://use.edgefonts.net/lato.js"></script>-->

<link rel="stylesheet" href="/fonts/symbolset-social/ss-social.css">
<link rel="stylesheet" href="/fonts/symbolset-standard/ss-standard.css">

<link rel="stylesheet" href="/css/screen.css">

<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="/css/ie_legacy.css">
<![endif]-->

<link rel="apple-touch-icon-precomposed" type="image/png" href="/images/apple-touch-icon-precomposed.png">
<link rel="icon" type="image/png" href="/images/favicon_16.png">

{% for link in page.stylesheet_links %}
<link rel="stylesheet" href="{{ link }}">
{% endfor %}
