<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Christoph's CodeLog
        </title>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/js/highlight_styles/solarized_dark.css">
        <link rel="stylesheet" href="/css/screen.css">
        
        <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="/css/ie_legacy.css">
        <![endif]-->

        {% include ga.html %}
    </head>
    <body class="blog">
        <header role="banner">
            <p id="greeting">Hallo Besucher</p>

            <h1>
                Ich bin
                <a href="/">Christoph Hochstrasser</a> und mache
                <em>einfache</em> und <em>benutzbare</em> Software
                f&uuml;r das Web. <br>
                Hier schreibe ich &uuml;ber Software Entwicklung, Design
                und PHP.
            </h1>
            <p class="tagline">
            </p>

            {% include navigation.html %}
        </header>

        <section class="content">
            {{ content }}
        </section>

        {% include footer.html %}
    </body>
</html>
