<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {{ page.title }} &mdash;
            {{ site.title }}
        </title>

        <meta name="title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
        <meta name="author" content="Christoph Hochstrasser">

        {% if page.custom_excerpt %}
        {% assign page_desc = page.custom_excerpt | markdownify | strip_html %}
        {% elsif page.excerpt %}
        {% assign page_desc = page.excerpt | markdownify | strip_html %}
        {% else %}
        {% assign page_desc = site.description %}
        {% endif %}

        <meta name="description" content="{{ page_desc }}">

        <link rel="author" href="https://plus.google.com/110702168673763667617">

        <link rel="alternate" type="application/atom+xml"
              title="Christoph Hochstrasser Blog Feed"
              href="/atom.xml">

        <link rel="stylesheet" href="/fonts/symbolset-social/ss-social.css">
        <link rel="stylesheet" href="/fonts/symbolset-standard/ss-standard.css">
        <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/github.min.css">

        <link rel="stylesheet" href="/css/screen.css">
        <link rel="stylesheet" href="/bower_components/filament-sticky/fixedsticky.css">

        <link rel="apple-touch-icon-precomposed" type="image/png" href="/images/apple-touch-icon-precomposed.png">
        <link rel="icon" type="image/png" href="/images/favicon_16.png">

        {% for link in page.stylesheet_links %}
        <link rel="stylesheet" href="{{ link }}">
        {% endfor %}

        <script type="text/javascript" src="//use.typekit.net/eaa7vsc.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
        <!--
        <script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
        -->
        <script type="text/javascript" src="/bower_components/filament-sticky/fixedsticky.js"></script>
        <script type="text/javascript" src="/bower_components/fastclick/lib/fastclick.js"></script>
        <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>

        {% include layout/ga.html %}
    </head>

    <body>
        <div id="page-top-bar" class="fixedsticky">
            <a id="reveal-sidebar">
                <i class="ss-icon ss-columns"></i>
            </a>

            <a href="/">Christoph Hochstrasser</a>
        </div>

        <header itemscope itemtype="http://schema.org/Person" role="banner" class="site-header">
            <div class="bg-image"></div>
            <div class="header-wrapper">
                <div class="page-wrapper">
                    <div class="row">
                        <a href="/" class="avatar">
                        </a>
                        <h1 class="tagline">
                            Hi, I'm <a itemprop="name" href="/">Christoph Hochstrasser</a>. I design and build Web Sites and Web Applications
                            at <a href="http://iwa-tech.com" itemprop="affiliation">IWA Technologies</a>.
                        </h1>
                    </div>

                    <nav id="nav-main">
                        {% assign url = page.url ? page.url : '/' %}
                        <ul>
                        {% for link in site.navigation %}
                            {% assign active = nil %}
                            {% if url == link.link or page.layout == link.layout %}
                                {% assign active = 'active' %}
                            {% endif %}
                            <li class="nav-item {{ active }}">
                                <a href="{{ link.link }}">
                                    {% if link.icon %}
                                    <i class="icon ss-icon {{ link.icon }}"></i>
                                    {% endif %}
                                    {{ link.label }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </nav>

                    <footer role="contentinfo" class="site-footer">
                        <p class="copyright">
                            &copy;2011–2013 Christoph Hochstrasser
                        </p>
                        <nav class="footer-nav">
                            <ul>
                                <li class="nav-item">
                                    <a href="/imprint">Imprint</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://github.com/CHH">Github</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://twitter.com/hochchristoph">Follow me on Twitter</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()">Follow this site
                                </li>
                                <li class="nav-item">
                                    <a href="mailto:hello@christophh.net">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </footer>
                </div>
            </div>

            <div class="buttons">
                <a class="button button-follow button-small" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()">
                    <i class="icon ss-icon ss-plus"></i> Follow</a>
            </div>
        </header>

        <div class="page-wrapper main-wrapper">
            <section class="main-content">
                {{ content }}
            </section>
        </div>

        <script type="text/javascript">
            (function() {
                var images = [
                    'hero1.jpg',
                    'hero2.jpg',
                    'hero3.jpg'
                ];

                function getRandomInt(min, max) {
                    return Math.floor(Math.random() * (max - min + 1) + min);
                }

                function debounce(fn, msec) {
                    return function() {
                        if (typeof this.timeout !== "undefined") {
                            clearTimeout(this.timeout);
                        }

                        this.timeout = setTimeout(fn, msec);
                    };
                }

                $(function() {
                    var image = images[getRandomInt(0, images.length - 1)];
                    var img = new Image();
                    img.onload = function() {
                        $(".site-header .bg-image")
                            .css({"background-image": "url(/images/" + image + ")"});

                        $('.site-header .bg-image').addClass('loaded');
                    };
                    img.src = "/images/" + image;

                    $("#page-top-bar").fixedsticky();
                    $("#reveal-sidebar").on('click', function(ev) {
                        ev.preventDefault();
                        ev.stopImmediatePropagation();
                        $("body").toggleClass("reveal-sidebar");
                    });
                    $(".main-wrapper").on('click', function(ev) {
                        $("body").removeClass("reveal-sidebar");
                    });
                });

                $(function() {
                    var scrollPosition = sessionStorage.getItem('scrollPosition');
                    if (scrollPosition !== null) {
                        $(".main-wrapper").scrollTop(scrollPosition);
                    }

                    $(document).unload(function() {
                        sessionStorage.setItem('scrollPosition', null);
                    });

                    $(".main-wrapper").scroll(debounce(function() {
                        console.log("saving scroll position")
                        sessionStorage.setItem('scrollPosition', $(".main-wrapper").scrollTop());
                    }, 200));
                });
            })();
        </script>
    </body>
</html>
