<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {{ page.title }} &mdash;
            Christoph Hochstrasser, Web Entwickler &amp; Designer
        </title>

        <link rel="stylesheet" href="/css/screen.css">
        <link rel="alternate" type="application/atom+xml" 
              title="Christoph Hochstrasser Blog Feed"
              href="/atom.xml" />

        <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="/css/ie_legacy.css">
        <![endif]-->

        {% include ga.html %}
    </head>
    
    <body>
        <header role="banner">
            <p id="greeting">
                Hallo Besucher!
            </p>
        
            <h1>
				{% include tagline.html %}
            </h1>
        </header>
        
        <section id="content">
            {{ content }}
        </section>
        
        {% include footer.html %}
    </body>
</html>
