<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {{ page.title }} &mdash;
            Christoph's CodeLog
        </title>

        <link rel="stylesheet" href="/css/screen.css">
        
        <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="/css/ie_legacy.css">
        <![endif]-->

        {% include ga.html %}
    </head>
    <body class="blog">
        <header role="banner">
            <p id="greeting">Hallo Besucher</p>

            <h1>
				{% include tagline.html %}
				<br>
                Das hier ist mein Weblog. Hier schreibe ich in unregelm&auml;&szlig;en
				Abst&auml;nden &uuml;ber Software Entwicklung, Design
                und PHP.
			</h1>
        </header>

        <section class="content">
            <article>
                <header>
                    <time class="created-at" datetime="{{ page.date }}">
                        {{ page.date | date: "%d.%m.%Y" }}
                    </time>
                    <h1>{{ page.title }}</h1>
                </header>

                <section class="excerpt">
                    {{ page.excerpt | markdownify }}
                </section>

                <section class="content">
                    {{ content }}
                </section>

                <footer>
                    <a href="{{ page.url }}">Permalink</a>
                    &mdash;
                    <a href="#" class="comment-on-twitter" data-url="{{ page.url }}">
                        Kommentiere auf Twitter
                    </a>
                </footer>
            </article>

            <section class="article-list">
                <header>
                    <h1>Mehr Artikel</h1>
                </header>
                <ul>
                {% for post in site.posts limit:5 %}
                    <li>
                        <time datetime="{{ post.date }}">
                            {{ post.date | date: "%d.%m.%Y" }}
                        </time>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </section>

            <footer>
                <strong>Nicht genug?</strong>
                <a href="https://github.com/CHH">Schau auf mein Github Profil</a>
                oder
                <a href="http://twitter.com/yuri41">besuch mich auf Twitter</a>
            </footer>
        </section>

        {% include footer.html %}
    </body>
</html>
