<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta charset="utf-8">

        <title>
            {{ page.title }} &mdash;
            {{ site.title }}
        </title>

        <link rel="alternate" type="application/atom+xml" 
              title="Christoph Hochstrasser Blog Feed"
              href="http://feeds.feedburner.com/christoph-hochstrasser" />

        {% include layout/styles.html %}
        {% include layout/ga.html %}
    </head>
    <body class="blog">
        {% include layout/header.html %}

        <section class="content">
            <article>
                <header>
                    <div>
                        <time class="created-at" datetime="{{ page.date }}">
                            <span class="month">{{ page.date | date: "%m" }}</span>/<span class="year">{{ page.date | date: "%Y" }}</span>
                        </time>
                        {% if page.tags != empty %}
                        in
                        <ul class="tags">
                            {% for tag in page.tags %}
                            <li>{{ tag }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <h1>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </h1>
                </header>

                <section class="article-info">
                    <div class="excerpt">
                        {{ page.excerpt | markdownify }}
                    </div>

                    <nav class="share">
                        <ul>
                            <li>
                                <a href="{{ page.url }}">
                                    <i class="icon-bookmark"></i>
                                    Permalink
                                </a>
                            </li>
                            <li>
                            <a href="#" data-behaviour="twitter-comment-button" 
                                data-url="{{ page.url }}"
                                data-text='Just read "{{ page.title }}" by @yuri41, awesometastic! '>
                                    <i class="icon-twitter-sign"></i>
                                    Auf Twitter teilen
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <div class="article-list">
                        <h1>Mehr Artikel</h1>
                        <ul>
                        {% for post in site.related_posts limit:5 offset:1 %}
                            <li>
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>

                    {% include widgets/social_links.html %}
                    {% include widgets/flattr_widget.html %}
                </section>

                <section>
                    {{ content }}
                </section>

                <footer style="clear: both;">
                    <div class="left">
                        <nav class="share">
                            <ul>
                                <li>
                                    <a href="{{ page.url }}">
                                        <i class="icon-bookmark"></i>
                                        Permalink
                                    </a>
                                </li>
                                <li>
                                <a href="#" data-behaviour="twitter-comment-button" data-url="{{ page.url }}" 
                                    data-text='Just read "{{ page.title }}" by @yuri41, awesometastic! '>
                                        <i class="icon-twitter-sign"></i>
                                        Auf Twitter teilen
                                    </a>
                                </li>
                                <li>
                                    <a href="/writes" class="back">
                                        <i class="icon-book"></i>
                                        Alle Artikel
                                    </a>
                                </li>
                            </ul>
                        </nav>

                        <div class="article-list">
                            <h1>Mehr Artikel</h1>
                            <ul>
                            {% for post in site.related_posts limit:5 offset:1 %}
                                <li>
                                    <a href="{{ post.url }}">{{ post.title }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>

                        {% include widgets/social_links.html %}
                    </div>

                    <div class="comments">
                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                            var disqus_shortname = '{{ site.disqus.shortname }}'; // required: replace example with your forum shortname
                            var disqus_identifier = "{{ page.id }}";

                            {% if site.server %}
                            var disqus_developer = 1;
                            {% endif %}

                            /* * * DON'T EDIT BELOW THIS LINE * * */
                            (function() {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
                    </div>
                </footer>
            </article>
        </section>

        {% include layout/footer.html %}
    </body>
</html>
