<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {{ page.title }} &mdash;
            Christoph's CodeLog
        </title>

        <link rel="stylesheet" href="/css/screen.css">
        
        <link rel="alternate" type="application/atom+xml" 
              title="Christoph Hochstrasser Blog Feed"
              href="http://feeds.feedburner.com/christoph-hochstrasser" />

        <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="/css/ie_legacy.css">
        <![endif]-->

        {% include ga.html %}
    </head>
    <body class="blog">
        <header role="banner">
            <h1>
                {% include tagline.html %}
            </h1>
        </header>
        <section class="content">
            <article>
                <header>
                    <nav>
                        <a class="back" href="/writes">Alle Artikel</a>
                    </nav>

                    <div>
                        <time class="created-at" datetime="{{ page.date }}">
                            <span class="month">{{ page.date | date: "%m" }}</span>/<span class="year">{{ page.date | date: "%Y" }}</span>
                        </time>
                        {% if page.tags != empty %}
                        in 
                        <ul class="tags">
                            {% for tag in page.tags %}
                            <li>{{ tag }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <h1>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </h1>
                </header>

                <section class="article-info">
                    <div class="excerpt">
                        {{ page.excerpt | markdownify }}
                    </div>

                    <nav class="share">
                        <ul>
                            <li>
                                <a href="{{ page.url }}">Permalink</a>
                            </li>
                            <li>
                                <a href="#" class="comment-on-twitter" data-url="{{ page.url }}">
                                    Kommentiere auf Twitter
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <div class="article-list">
                        <h1>Mehr Artikel</h1>
                        <ul>
                        {% for post in site.related_posts limit:5 offset:1 %}
                            <li>
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>

                    <p>
                        <strong>Nicht genug?</strong>
                        <a href="https://github.com/CHH">Schau auf mein Github Profil</a>
                        oder
                        <a href="http://twitter.com/yuri41">besuch mich auf Twitter</a>
                    </p>
                </section>

                <section>
                    {{ content }}
                </section>

                <footer style="clear: both;">
                    <nav class="share">
                        <ul>
                            <li><a href="{{ page.url }}">Permalink</a></li>
                            <li>
                                <a href="#" class="comment-on-twitter" data-url="{{ page.url }}">
                                    Kommentiere auf Twitter
                                </a>
                            </li>
                            <li><a href="/writes" class="back">Alle Artikel</a></li>
                        </ul>
                    </nav>

                    <div class="article-list">
                        <h1>Mehr Artikel</h1>
                        <ul>
                        {% for post in site.related_posts limit:5 offset:1 %}
                            <li>
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    
                    <div class="even-more">
                        <p class="even-more">
                            <strong>Nicht genug?</strong>
                            <a href="https://github.com/CHH">Schau auf mein Github Profil</a>
                            oder
                            <a href="http://twitter.com/yuri41">besuch mich auf Twitter</a>
                        </p>
                    </div>
                </footer>
            </article>
        </section>

        {% include footer.html %}
    </body>
</html>
