---
layout: post
---
<p>Sometimes people write emails to me with questions. I started to think that some
of these answers could be valuable to a broader audience. So I'm going to
answer some of these questions on my blog with permission of the author.
<em>Have a question? Write to <a href="mailto:ask@christophh.net">ask@christophh.net</a>.</em></p>

{{ content }}

<div class="question-submit-box fullwidth">
    <div class="question-wrapper">
        <h1 class="box-title">Submit your question</h1>

        <p>
            Do you have a question about PHP or Web Development? Need some mentoring?
            (Questions will only be published with your consent)
        </p>

        <form action="//forms.brace.io/ask@christophh.net" method="POST" class="table-form">
            <div class="form-row">
                <div class="form-row-label"><label for="name">Your name</label></div>
                <div class="form-row-inputs">
                    <input type="text" id="name" name="name" placeholder="John Doe" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-row-label"><label for="_replyto">Your email address</label></div>
                <div class="form-row-inputs"><input type="email" id="_replyto" name="_replyto" required placeholder="john@doe.com"></div>
            </div>

            <div class="form-row">
                <div class="form-row-label"><label for="question">Your question</label></div>
                <div class="form-row-inputs"><textarea required name="question" cols=80 rows=8 id="question" placeholder="I want to ask…"></textarea></div>
            </div>

            <div class="form-row">
                <div class="form-row-label"></div>
                <div class="form-row-inputs">
                    <input type="submit" class="button button-primary" value="Send question">
                </div>
            </div>

            <input type="text" name="_gotcha" style="display:none" />
        </form>
    </div>
</div>
